.vscode

# lib and res folders were used to put the necessary files in order to build snoop.jl and call the snoopfiles in call_functions.jl
lib
res

# unecessary precompile snoop files
src/precompile

# builddir
builddir
src/builddir

#code backup folder
backup

# other unecessary files created by compile.jl
src/*.iss
src/*.nsi
src/*.exe
*.nsi
*.iss
*.exe
*.csv